<div>
    <h3>Welcome to my page</h3>
    <h5>Gonzalo's Bizarre Website</h5>

    <h6>So what is this?</h6>
    <p>
        This is a website made by me! With the objective of practicing, testing and trying new stuff. Also to showcase
        of what I've learned along the years.
        I'll try to move all the crazy ideas into this website when I have some free time and I'm not busy with work or
        living.
        Around 2021 I wanted to try Angular and it's now in 2024 that I have the motivation and the time to make it
        possible.
        So... there is that. Check the navigation up top to see what I've been up to.
    </p>
</div>